.section {
    padding: 5px 10px;
    margin: 0 auto;
}

.section__header {
    font-weight: 400;
    padding: 10px;
    max-width: 960px;
    color: #b46429;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-left-color: #b46429;
}

.section__quote {
    padding: 0px 10px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 40px;
    line-height: 1.3;
    text-shadow: 3px 5px 8px #b46429;
}

.section__quoteAuthor {
    text-align: end;
    text-shadow: 3px 5px 8px #b56329;
}

.section__article {
    font-size: 16px;
    max-width: 1000px;
    padding: 20px;
    line-height: 1.8;
}

.section__list {
    margin-left: 5%;
    line-height: 1.6;
    list-style-type: square;
}

.section__link:visited {
    color: #c4c4c4;
}

.section__link:focus {
    outline: 1px currentColor;
}

.section__link:hover {
    color: #b46429;
    border-bottom: 2px solid;
}

.section__mediaLinks {
    color: #343434;
    margin: 20px 0px;
    list-style-type: circle;
}

.section__mediaLinksItem {
    color: #343434;
    text-decoration: none;
}

.section__mediaLinksItem:focus {
    outline: 1px currentColor;
}

.section__mediaLinksItem:hover {
    color: #b46429;
    border-bottom: 2px solid;
}