html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #343434;
    background-color: #c9c9c9;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.bodyDark {
    color: #c4c4c4;
    background-color: black;
}

.header {
    font-size: larger;
}

.textColorDark {
    color: #343434;
}

.textColorBright {
    color: #c4c4c4;
}

.photo {
    display: block;
    padding-top: 10px;
    margin: auto;
}

