html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #343434;
    background-color: #c9c9c9;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.bodyDark {
    color: #c4c4c4;
    background-color: black;
}

.textColorDark {
    color: #343434;
}

.textColorBright {
    color: #c4c4c4;
}

.header {
    font-size: larger;
}

.quote {
    padding: 0px 10px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 40px;
    line-height: 1.3;
    text-shadow: 3px 5px 8px #b46429;
}

.quoteAuthor {
    text-align: end;
    text-shadow: 3px 5px 8px #b56329;
}

.photo {
    display: block;
    padding-top: 10px;
    margin: auto;
}

.discography {
    color: #c4c4c4;
    margin-left: 5%;
    line-height: 1.6;
    list-style-type: square;
}

.mediaLinks {
    margin: 20px 0px;
    list-style-type: circle;
}

.topfive {
    background-color: #343434;
    color: #c4c4c4;
    max-width: 1000px;
    margin: 0px 140px;
    line-height: 1.6;
}

.table {
    background-color: #c9c9c9;
    color: #343434;
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.tableCell {
    border: 1px solid #343434;
    border-width: 0px 0px 1px;
    padding: 10px;
    text-align: center;
}

.tableHeader {
    background-color: #343434;
    color: #c4c4c4;
}

.tableContainer {
    overflow-x: auto;
    background-color: #c9c9c9;
    padding-top: 40px;
    padding-bottom: 40px;
}