.table {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.table__cell {
    border: 1px solid #343434;
    border-width: 0px 0px 1px;
    padding: 10px;
    text-align: center;
}

.table__header {
    background-color: #343434;
    color: #c4c4c4;
}